
//@import '~@fluentui/react/dist/sass/References.scss';

.PlayerVsPlayerContainer {
  text-align: center;
  display: block;
}

.PlayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PlayerTitle{
  padding-right: 20px
}